<h2><a routerLink="/admin/workshops"><fa name="chevron-left" class="mr-3"></fa></a>Edit Workshop</h2>
<form *ngIf="model" (ngSubmit)="onSubmit()" #workshopForm="ngForm" class="form mt-4" method="post" action="#">
  <div class="form-group">
    <label for="title">Title</label>
    <input [(ngModel)]="model.title" #workshopTitle name="title" class="form-control" id="title" aria-describedby="titleHelp"
      placeholder="Event title">
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input [(ngModel)]="model.location" #workshopLocation name="location" class="form-control" id="location" aria-describedby="locationHelp"
      placeholder="Event location">
  </div>
  <div class="form-group">
    <label for="dateTime">Date and Time</label>
    <input [(ngModel)]="model.date_time" #workshopDateTime name="dateTime" class="form-control" id="dateTime" aria-describedby="dateTimeHelp"
      placeholder="YYYY-MM-DD HH:mm:ss">
  </div>
  <!-- <div class="form-group">
    <label for="date_time">Date</label>
    <input type="text" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" placeholder="Date of workshop" class="form-control" bsDatepicker>
  </div>
  <div class="form-group">
    <label for="date_time">Time</label>
    <timepicker name="time" [(ngModel)]="mytime"></timepicker>
  </div> -->
  <div class="form-group">
    <label for="description">Description</label>
    <textarea [(ngModel)]="model.description" #workshopDescription name="description" class="form-control" id="description" rows="8"
      aria-describedby="descriptionHelp" placeholder="Event description (Markdown supported)"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-large btn-block">Save</button>
</form>